//low level basics such as reset, style for html and body

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  /* Define what 1rem is, aka 10px if user keeps their default browser font size at 16px */
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-size: $default-font-size;
  box-sizing: border-box;
}