.u-center-text {
  text-align: center;
}

.u-margin-bottom-lg {
  margin-bottom: 8rem !important;
  @include responsive(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-md {
  margin-bottom: 4rem !important;
  @include responsive(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-top-xl {
  margin-top: 10rem;
}

.u-margin-top-lg {
  margin-top: 8rem;
}
